.react-pdf__Page {
  text-align: center;
}

.pdf-viewer {
  text-align: center;
  .react-pdf__Page {
    overflow-y: scroll !important;
  }
}

.react-pdf__Page__canvas {
  margin: auto;
}

.pdf-col {
  text-align: right !important;
}

.download-button-row {
  margin-top: 1em;
}

.back-close-button-row {
  margin-top: 1.4em;
}
// .pdf-mobile {
//     display: flex !important;
//     width: fit-content !important;
//     canvas {
//         width: 100% !important
//     }
// }
