.documentList-title, .documentList-subTitle{
    margin-bottom: '0.2em' !important;
    text-transform: 'none' !important;
  }

  .documentList-subTitle{
    font-weight: 500 !important;
    color: rgba(0, 0, 0, 0.85) !important;
  }