$pad: 1vw 10vw 1vw 10vw;
$max-width-row-inner-important: 1200px !important;
$max-width-row-important: 1600px !important;
$max-width-page-important: 3840px !important;

:root {
  --color-unread: #E7F8FB;
}